nodred_flow.txt
[{"id":"495aff23.cfa8e","type":"tab","label":"IoT","disabled":true,"info":""},{"id":"514d5c58.83f084","type":"ibmiot in","z":"495aff23.cfa8e","authentication":"apiKey","apiKey":"9e269b8a.0ccfd8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":340,"y":60,"wires":[["63e8f546.83be0c","e98e50cc.82d09","72b45489.2fc26c","743278a5.6a8358","6b79c26a.5bc56c"]]},{"id":"63e8f546.83be0c","type":"debug","z":"495aff23.cfa8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"e98e50cc.82d09","type":"function","z":"495aff23.cfa8e","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[[]]},{"id":"72b45489.2fc26c","type":"function","z":"495aff23.cfa8e","name":"temperature","func":"var temp=global.get('temperature')\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["814461d9.8ea53"]]},{"id":"814461d9.8ea53","type":"ui_gauge","z":"495aff23.cfa8e","name":"","group":"fa2de7cb.0a4ad8","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ffee","#ff0a0a"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"b393211e.fba79","type":"ui_gauge","z":"495aff23.cfa8e","name":"","group":"fa2de7cb.0a4ad8","order":2,"width":0,"height":0,"gtype":"gage","title":"objTemp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#eeff00","#fbff00","#f6ee04"],"seg1":"","seg2":"","x":720,"y":360,"wires":[]},{"id":"38a6cecf.6a4272","type":"ui_gauge","z":"495aff23.cfa8e","name":"","group":"fa2de7cb.0a4ad8","order":3,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#eeff00","#ff0a0a"],"seg1":"","seg2":"","x":720,"y":300,"wires":[]},{"id":"743278a5.6a8358","type":"function","z":"495aff23.cfa8e","name":"humidity","func":"var humidity=global.get('humidity')\nreturn {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":538,"y":300,"wires":[["38a6cecf.6a4272"]]},{"id":"6b79c26a.5bc56c","type":"function","z":"495aff23.cfa8e","name":"objTemp","func":"var obj=global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp};","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["b393211e.fba79"]]},{"id":"5f7a3677.7dfb88","type":"http in","z":"495aff23.cfa8e","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":480,"wires":[["128c58eb.c3c187"]]},{"id":"2c582c1.be075d4","type":"http response","z":"495aff23.cfa8e","name":"","statusCode":"","headers":{},"x":720,"y":480,"wires":[]},{"id":"128c58eb.c3c187","type":"function","z":"495aff23.cfa8e","name":"","func":"msg.payload={\n    \"temperature\":global.get('temperature'),\n    \"humidity\":global.get('humidity'),\n    \"objectTemp\":global.get('objectTemp')\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["2c582c1.be075d4"]]},{"id":"9e269b8a.0ccfd8","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"x9lrxp.messaging.Internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"fa2de7cb.0a4ad8","type":"ui_group","z":"","name":"Readings","tab":"","order":1,"disp":true,"width":"6","collapse":false}]